{% extends 'base_guest.html.twig' %}

{% block title %}{{ 'auth.reset_password.title'|trans }} - Nimbus{% endblock %}

{% block content %}
    <div class="mb-4 text-sm text-secondary">
        {{ 'auth.reset_password.instructions'|trans }}
    </div>

    <form method="POST" action="{{ path('app_reset_password', {selector: selector, token: token}) }}">

        <div>
            {{ include('components/form_password_input.html.twig', {
                id: 'password',
                name: 'password',
                label: 'auth.register.password'|trans,
                error: errors.password is defined ? errors.password : null,
                required: true,
                autocomplete: 'new-password',
            }, false) }}
        </div>

        <div class="mt-4">
            {{ include('components/form_password_input.html.twig', {
                id: 'password_confirmation',
                name: 'password_confirmation',
                label: 'auth.register.password_confirm'|trans,
                error: errors.password_confirmation is defined ? errors.password_confirmation : null,
                required: true,
                autocomplete: 'new-password',
            }, false) }}
        </div>

        <div class="mt-4 flex items-center justify-end">
            {{ include('components/form_submit_button.html.twig', {
                text: 'auth.reset_password.submit'|trans,
                fullWidth: false,
            }, false) }}
        </div>
    </form>
{% endblock %}
