{% extends 'base_auth.html.twig' %}

{% block title %}{{ 'transfer.create.title'|trans }} - Nimbus{% endblock %}

{% block page_header_slot %}
    {{ include('components/page_header.html.twig', {title: 'transfer.create.title'|trans}) }}
{% endblock %}

{% block body %}
    <div id="app-home"
         data-locale="{{ app.request.locale }}"
         data-user-email="{{ app.user ? app.user.email : '' }}"
         data-is-guest="{{ app.user ? 'false' : 'true' }}"
         data-max-size-mb="{{ maxSizeMb }}"
         data-max-files="{{ maxFiles }}"
         data-max-recipients="{{ maxRecipients }}"
         data-max-expiry-days="{{ maxExpiryDays }}"
         data-expiry-options="{{ expiryOptions|json_encode }}"
         data-extension-groups="{{ extensionGroups|json_encode }}"
         data-access-password-enabled="{{ accessPasswordEnabled ? 'true' : 'false' }}"
         data-access-granted="{{ accessGranted ? 'true' : 'false' }}"
         data-is-pro="{{ isPro ? 'true' : 'false' }}"
         data-plan-path="{{ path('plan') }}"
         class="flex-1"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('home') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ vite_entry_link_tags('home') }}
{% endblock %}
