{% extends 'base_guest.html.twig' %}

{% block title %}{{ 'auth.register.title'|trans }} - Nimbus{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ vite_entry_link_tags('register') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('register') }}
{% endblock %}

{% block hero %}
    {% if registrationEnabled %}
        {{ include('components/auth_hero.html.twig') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div
        id="app-register"
        data-locale="{{ app.request.locale }}"
        data-register-path="{{ path('app_register') }}"
        data-login-path="{{ path('app_login') }}"
        data-registration-enabled="{{ registrationEnabled ? 'true' : 'false' }}"
        data-errors="{{ errors|json_encode }}"
        data-values="{{ {name: values.name ?? '', email: values.email ?? ''}|json_encode }}"
    ></div>
{% endblock %}
